# Testing (Staging)
EXPO_PUBLIC_API_BASE_URL=https://pfnapp.my.id/api/vpn/mobile
EXPO_PUBLIC_APP_URL=https://pfnapp.my.id

# Production
# EXPO_PUBLIC_API_BASE_URL=https://pfnapp.id/api/vpn/mobile
# EXPO_PUBLIC_APP_URL=https://pfnapp.id

EXPO_PUBLIC_SKIP_AUTH=0
