# Testing (Staging)
UNIVPN_API_BASE_URL=https://pfnapp.my.id/api/vpn/mobile
UNIVPN_APP_URL=https://pfnapp.my.id

# Production
# UNIVPN_API_BASE_URL=https://pfnapp.id/api/vpn/mobile
# UNIVPN_APP_URL=https://pfnapp.id
